<body>
  <a href='/'>Inicio</a>
  <a href='/about/'>Sobre mi</a>
  <a href='/blog/'>Blog</a>

  <h1>Mi blog de aprendizaje sobre Astro</h1>
  <p>
    Aquí es donde publicaré acerca de mi viaje aprendiendo Astro./p>
    <ul>
      <li><a href='/posts/post-1/'>Publicación 1</a></li>
    </ul>
  </p>
</body>
